<settings>
<pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
</pluginGroups>
<profiles>
<profile>
    <id>sonar</id>
    <artifactId>proyectoejemplo</artifactId>
    <activation>
        <activeByDefault>true</activeByDefault>
    </activation>
    <properties>
        <sonar.host.url>
            http://myserver:9000
        </sonar.host.url>
    </properties>
</profile>
</profiles>
        </settings>
